* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-color: hsl(0, 0%, 100%);
  max-width: 632px;
  padding: 16px;
  height: auto;
  min-height: 452px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.main img {
  object-fit: cover;
  max-width: 288px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 24px;
}
.textone,
.texttwo {
  font-size: 15px;
  color: hsl(218, 44%, 22%);
}

.text {
  max-width: 600px;
  text-align: center;
}
.textone {
  margin-bottom: 16px;
  font-weight: 700;
}
.texttwo {
  font-weight: 400;
}

@media (max-width: 375px) {
  .main {
    max-width: 320px;
    min-height: 499px;
    padding: 16px;
  }
  .text {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .textone,
  .texttwo {
    max-width: 100%;
  }
}
